// Custom nf-core/rnaseq config file 

cleanup = true

process {
    beforeScript = 'module load nextflow singularity'
    executor = 'pbspro'
    queue = 'normalbw'
    clusterOptions = '-P er01 -lstorage=scratch/er01'
    cpus = 28
    memory = '128GB'
    time = '10h'

    withLabel: process_low {
        executor = 'local'
    }

    withName: PROCESS-NAME {
        executor = 'pbspro'
        queue = 'normal'
        cpus = 48
        memory = '190GB'
        time = '30h'
    }
}
